<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="tr" lang="tr">
<head>
    <title> EkşiRSS </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="sourtimes, eksisozluk, eksi sozluk, sozluk" />
    <meta name="description" content="Ekşi Sözlük'ten başlık takibi için RSS fasilitesi" />
    <style type="text/css">
        body {font:11px Verdana;text-align:center;}
        h1 {font-size:3em;margin:0;}
        h1 span {color:#FF6600;}
        h1 em {font-size:.5em;}
        p {font-size:1em;line-height:1.3em;width:400px;margin:0 auto;padding:4px 10px;}
        p.desc {font-size:.8em;}
        form {margin:25px;}
    </style>
</head>

<body>
<h1>Ekşi<span>RSS</span> <em>beta</em></h1>
<p class="desc">Ekşi Sözlük için başlık takibi fasilitesi</p>
<p>RSS ile takip etmek istediğiniz başlığı aşağıdaki forma yazıp "RSS AL"a basınız. Karşınıza gelen RSS kaynağını RSS okuyucunuza ekleyerek o başlığa eklene entry'leri takip edebilirsiniz.</p>

<form action="/feed/" method="get">
    <input type="text" name="t" maxlength="250" /><input type="submit" value="RSS AL" />
</form>
</body>
</html>